<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chatbot</title>
    <link rel="stylesheet" href="C:\Users\admin\Rabia-Abdul-Aziz\django-first-proj-main\chat_bot\static\style.css">
</head>
<body>
    <header>
        <h1>Flask Chatbot</h1>
    </header>
    <main>
        <div id="chatbox">
            <p><strong>Bot:</strong> Hello! How can I assist you today?</p>
        </div>
        <input type="text" id="user-input" placeholder="Type your message here...">
        <button id="send">Send</button>
    </main>
    <script src="C:\Users\admin\Rabia-Abdul-Aziz\django-first-proj-main\chat_bot\static\script.js"></script>
</body>
</html>
